.form-control, .form-select {
    background-color: #31353e;
    height: 51px;
    border: none;
    color: #fff;
}

.sa-btn {
    background: linear-gradient(95.65deg, #ffd83b 4.5%, #ffa43b 97.15%);
    border-radius: 6px;
    border: none;
    color: #232b31;
    font-style: normal;
    font-weight: 600;
    height: 51px;
}
