.form-control,
.form-select {
  background-color: #31353e;
  height: 51px;
  border: none;
  border-radius: 7px;
  color: #fff;
}



.sa-btn {
  background: linear-gradient(95.65deg, #ffd83b 4.5%, #ffa43b 97.15%);
  border-radius: 6px;
  border: none;
  color: #232b31;
  font-style: normal;
  font-weight: 600;
  height: 51px;
}

.address-form {
  margin-top: 45px;
  margin-bottom: 140px;
  .country-select {
      background-image: url("/images/icons/dropdown-select-icon.svg");
      background-position: right 20px top 50%;
  }
  .input-side-by-side--wrapper {
    .input-left {
        margin-right: 36px;
        @media (max-width: 600px) {
            margin-right: 30px;
        }
        @media (max-width: 500px) {
            margin-right: 0;
            margin-bottom: 14px;
        }
    }
    @media (max-width: 500px) {
        flex-direction: column;
    }
    > * {
      width: 100%;
      max-width: 297px;
      @media (max-width: 768px) {
          max-width: 330px;
      }
      @media (max-width: 500px) {
          max-width: 100%;
      }
    }
  }
  .input-heading {
      font-size: 18px;
  }
  .shipping-btn {
    margin-top: 40px;
  }
}
