.sub {
    padding-top: 4px;
    a {
        color: #fff;
        text-decoration: none;
    }
    .heading {
        margin-top: 65px;
        text-transform: uppercase;
    }
    .sub-text {
        color: #cacaca;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
    }
}
