.support {
    min-height: 100vh;
    padding-top: 200px;
    .btn-outline-help {
        color: #ffd83b;
        border: 1px solid #ffd83b;
        border-radius: 6px;
        max-width: 350px;
        transition: 0.2s;
        &:hover {
            color: black;
            background-color: #ffd83b;
        }
    }
    .heading {
        font-weight: 700;
        font-size: 35px;
    }
}
.help-wrapper {
    margin-top: 90px;

}
.max-width-wrapper {
    max-width: 826px !important;
    @media (max-width: 14400px) {
      padding: 0 65px;
    }
    @media (max-width: 1200px) {
      padding-left: 43px;
      padding-right: 43px;
    }
    @media (max-width: 992px) {
      padding-left: 5px;
      padding-right: 5px;
    }
    @media (max-width: 576px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (max-width: 500px) {
      padding-left: 0;
      padding-right: 0;
    }
  }