.support {
    min-height: 100vh;
    padding-top: 200px;
    .btn-outline-help {
        color: #ffd83b;
        border: 1px solid #ffd83b;
        border-radius: 6px;
    }
    .heading {
        font-weight: 700;
        font-size: 35px;
    }
}