footer {
  background-color: #171a20;
  // padding-top: 45px;

  .below-text {
    font-size: 14px;
    font-weight: 400;
    color: #adb5cb;
  }
  .form-control {
    background-color: #090c14;
    font-size: 14px;
    border: 1px solid #adb5cb50;
    height: 53px;
  }
  hr {
    margin: 0;
    padding: 0;
    opacity: 0.1;
  }
  .icon {
    padding-right: 17px;
  }
  .input-group-text {
    background-color: #151e31;
    color: #ffd83b;
    text-transform: uppercase;
    border-left: none;
    border: 1px solid #adb5cb50;
    font-size: 14px;
    font-weight: 500;
    padding: 9px 15px;
  }
  .list-group-item {
    background-color: transparent;
    border: none;
    padding: 0 0 21px 0;
    font-size: 14px;
    font-weight: 600;
    color: #adb5cb;
  }
  .list-group-wrapper {
    max-width: 175px;
    margin-right: 15px;
    @media (max-width: 786px) {
      margin-top: 30px;
    }
    @media (max-width: 450px) {
      max-width: 150px;
    }
  }
  .logo {
    width: 92px;
    height: 63px;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    text-transform: uppercase;
  }
  .updates {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .updates-container {
    max-width: 415px;
    padding: 0;
    @media (max-width: 1200px) {
      margin-top: 30px;
    }
  }
  .link {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #ffd83b;
    }
  }
  .links-wrapper .list-group-wrapper:nth-child(2) {
    max-width: 125px;
    @media (max-width: 350px) {
      max-width: 115px;
    }
  }
  .links-wrapper .list-group-wrapper:nth-child(1) {
    padding-left: 20px !important;
    @media (max-width: 767px) {
      padding-left: 0 !important;
    }
  }
}

.max-width-wrapper {
  max-width: 1440px !important;
  padding: 45px 30px 20px 70px;
  @media (min-width: 1500px) {
    padding-left: 25px;
    padding-right: 0;
  }
  @media (max-width: 1200px) {
    padding-left: 43px;
  }
  @media (max-width: 992px) {
    padding-left: 30px;
  }
  @media (max-width: 576px) {
    padding-left: 27px;
  }
  @media (max-width: 500px) {
    padding-left: 9px;
  }
}
.copyright-wrapper {
  padding: 20px auto !important;
  max-width: 1440px !important;
  padding: 20px 25px;
  @media (max-width: 450px) {
    padding: 25px 12px;
  }
}
