.btn-col {
    margin-top: 40px;
}
.email-sub {
    color: #cacaca;
    font-size: 14px;
    font-weight: 300;
}

.email-text {
    color: #ffda45;
}

.form-control {
    background-color: #31353e;
    height: 51px;
    border: none;
    color: #fff;
}

.form-container {
    margin-top: 50px;
}

.input-group-text {
    background-color: #31353e;
    border: none;
    color: #cacaca;
}

.password-container {
    margin-bottom: 150px;
}

.text-label {
    font-size: 18px;
}

.ue-btn {
    background: linear-gradient(95.65deg, #ffd83b 4.5%, #ffa43b 97.15%);
    border-radius: 6px;
    border: none;
    color: #232b31;
    font-style: normal;
    font-weight: 600;
    height: 51px;
}