<app-profile-sub-header path="Login & Security" text="If you wish to update the e-mail address or password associated with this account, please fill in the following
fields. Your password is requested for security reasons."></app-profile-sub-header>

<p class="email-sub profile-category-max-width">Your current e-mail address is: <span class="email-text">{{ user?.email
        }}</span></p>

<div class="row gx-0 form-container profile-category-max-width">
    <div class="text-label">
        <p>Change of Email</p>
    </div>
    <div class="input-group">
        <input type="password" id="password-input" class="form-control email-current-password"
            placeholder="Current Password" aria-label="Password">
        <!-- <span class="input-group-text" onclick="toggleVisibilityCurrentEmail()"> -->
        <span class="input-group-text" (click)="toggleVisibility($event, 'password-input')">
            <i id="togglePassIcon" class="fas fa-eye-slash fa-lg">
            </i>
        </span>


    </div>
    <div class="input-new--wrapper">
        <input type="text" class="form-control input-new--email" placeholder="New Email Address" aria-label="email">
        <div class="w-100">
            <input type="text" class="form-control input-confirm" placeholder="Repeat Email Address" aria-label="email">
        </div>
    </div>
    <div class="btn-col">
        <button class="btn btn-primary ue-btn w-100" type="button">UPDATE EMAIL</button>
    </div>
</div>

<div class="row gx-0 form-container password-container profile-category-max-width">
    <div class=" text-label">
        <p>Change of Password</p>
    </div>
    <div class="input-group">
        <input type="password" id="current-password-input" class="form-control" placeholder="Current Password"
            aria-label="Password">
        <!-- <span class="input-group-text" onclick="toggleVisibilityCurrentPassword()"> -->
        <span class="input-group-text" (click)="toggleVisibility($event, 'current-password-input')">
            <i id="current-password-togglePassIcon" class="fas fa-eye-slash fa-lg" aria-hidden="true">
            </i>
        </span>
    </div>
    <div class="input-new--wrapper">
        <div class="input-group">
            <input type="password" id="new-password-input" class="form-control input-new" placeholder="New Password"
                aria-label="Password">
            <!-- <span class="input-group-text" onclick="toggleVisibilityNewPassword()"> -->
            <span class="input-group-text" (click)="toggleVisibility($event, 'new-password-input')">
                <i id="new-password-togglePassIcon" class="fas fa-eye-slash fa-lg"></i>
            </span>
        </div>
        <div class="w-100">
            <div class="input-group">
                <input type="password" id="repeat-password-input" class="form-control input-confirm"
                    placeholder="Repeat Password" aria-label="Password">
                <!-- <span class="input-group-text" onclick="toggleVisibilityRepeatNewPassword()" > -->
                <span class="input-group-text" (click)="toggleVisibility($event, 'repeat-password-input')">
                    <i class="fas fa-eye-slash fa-lg" id="reapeat-password-togglePassIcon"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="btn-col">
        <button class="btn btn-primary ue-btn w-100" type="button">UPDATE PASSWORD</button>
    </div>
</div>