.login {
  height: 100vh;
  .back-wrapper {
    margin: 0 auto;
    .nav-back-btn {
      margin-left: 10px;
    }
  }
  .login-row {
    width: 100%;
    margin-bottom: 15px;
  }
  .forgot-wrapper {
    text-align: right;
  }
  .image-wrapper {
    width: min-content;
    margin: -23px auto 0 auto;
  }
  .error-container {
      background-color: #f03737;
      border-radius: 6px;
      display: flex;
      align-items: center;
      font-size: 14px;
      width: 95%;
      margin: 0 auto 15px auto;
      height: 35px;
      @media (max-width: 475px) {
        height: auto;
        padding: 10px;
        text-align: center;
      }
  }
  a {
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
  }
  .form-control {
    background: #31343e;
    height: 51px;
    color: #fff;
    border: none;
    padding: 0.375rem 20px;
    font-size: 16px;
    font-weight: 600;
  }
  .password-wrapper {
    input {
      border-radius: 6px 0 0 6px;
    }
    span {
    background-color: #31343e;
    height: 100%;
    border: none;
    border-radius: 0 6px 6px 0;
    .fa-lg {
      font-size: 20px;
      padding-top: 3px;
    }
    i {
      color: #cacaca;
      width: 27px;
      height: 22px;
    }
    }
  }
  // .help-row {
    // }
    .btn-wrapper {
      margin-top: 10px;
      
  }
  .help {
    font-size: 14px;
    color: #8e9199;
    font-weight: 400;
    a {
      margin-left: 0.5px;
    }
  }
  label {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 23px;
  }
  .logo {
    width: 100px;
    height: 68px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @media (max-width: 350px) {
      width: 80px;
      height: 48px;
    }
  }
  .btn:disabled {
    background: #7a848b;
    color: #232b31;
  }
  .login-btn {
    background: linear-gradient(
      98deg,
      rgb(255, 216, 59) 0%,
      rgb(255, 164, 59) 100%
    );
    border: none;
    color: #232b31;
    font-weight: 600;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 18px;
    height: 45px;
  }
  .password {
    font-size: 14px;
  }
  .signup {
    color: #fff;
    font-weight: 500;
  }

  .login-wrapper {
    max-width: 415px;
    margin: 50px auto auto auto;
  }
}

.max-width-wrapper {
  max-width: 1575px !important;
  padding: 52px 45px 290px 45px;
  @media (min-width: 1575px) {
    padding-left: 70px;
    padding-right: 70px;
  }
  @media (max-width: 1200px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 992px) {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (max-width: 768px) {
    padding-top: 35px;
  }
  @media (max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 475px) {
    padding-left: 0;
    padding-right: 0;
  }
}
