.profile-group {
    .card {
        background-color: transparent;
        max-width: 315.5px;
    }
    .card:hover {
        cursor: pointer; 
    }
}
.card-text {
    margin: 20px auto 25px auto;
    
}
.top-card-border {
    border-top: none;
}
.bottom-card-border {
    border-bottom: none;
}
.left-card-border {
    border-left: none;
}
.right-card-border {
    border-right: none;
}
.pg-row {
    margin-top: 30px;
}
.username {
    font-size: 18px;
    @media (max-width: 576px) {
        margin-left: 27px;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        margin-left: 27px;
    }

    // Medium devices (tablets, 768px and up)
    @media (max-width: 768px) { 
        margin-left: 0px;
    }
}
.my-profile-wrapper {
    margin-bottom: 140.5px;
}
.user-continer {
    
    display: flex;
    justify-content: center;
    @media (max-width: 576px) {
        display: flex;
        justify-content: flex-end;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        display: flex;
        justify-content: flex-end;
    }

    // Medium devices (tablets, 768px and up)
    @media (max-width: 768px) { 
        
    }
    .user-img {
        width: 141px;
        height: 141px;
        display: block;
        border: 1px solid #FFD83B;
        border-radius: 50%;
        margin-right: 79px;
    }
}

.intro {
        font-size: 20px;
        font-weight: bold;
        // Extra Small devices (landscape phones, 576px and up)
        @media (max-width: 576px) {
            margin-top: 50px;
        }

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
            margin-top: 50px;
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { 
            margin-top: 0;
        }
    }
    .sub {
        font-size: 18px;
    }