.padding-wrapper {
    padding:0 25px;
        padding: 0 75px;
    background: rgb(26,32,48);
    background: linear-gradient(
180deg
, rgba(26,32,48,0) 27%, rgba(26,32,48,0.6474964985994398) 30%, rgba(21,26,39,1) 100%);
    @media (max-width: 576px) {
        padding: 0 12px;
    }
}


@media (min-width: 1440px) {
.padding-wrapper {
    padding: 0 75px;
} 
}


@media (max-width: 1439px) {
.padding-wrapper {
    padding: 0 45px;
} 
}


@media (max-width: 1199px) {
.padding-wrapper {
    padding: 0 111px;
} 
}

@media (max-width: 991px) {
.padding-wrapper {
    padding: 0 36px;
}
}

@media (max-width: 767px) {
.padding-wrapper {
    padding: 0 30px;
}
}

@media (max-width: 575px) {
.padding-wrapper {
    padding: 0 12px;
}
}