<app-profile-sub-header path="Newsletter & Policies" text="Set up your newsletter and you will receive news and information from the sections you have selected."></app-profile-sub-header>
<div class="interest profile-category-max-width">
    <p class="heading">Selection of your interest</p>
    <form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()">
        <div class="row choices">
            <div class="col-12 check-row">
                <input class="form-check-input" type="checkbox" formControlName="notify_new_events" id="option1">
                <label class="form-check-label d-flex align-items-center" for="option1">
                    <span class="checkbox-text">Notify me when new events are coming out</span>
                </label>
            </div>
            <div class="col-12 check-row">
                <input class="form-check-input" type="checkbox" formControlName="notify_weekly_newsletter" id="option2">
                <label class="form-check-label d-flex align-items-center" for="option2">
                    <span class="checkbox-text">Send me weekly newsletter</span>
                </label>
            </div>
            <div class="col-12 disclaimer-row">
                <p class="m-0">
                    I have read and understand the <a href="#" class="link-text">Privacy Policy, Terms & Conditions, Disclaimer</a> and <a href="#" class="link-text">EULA</a> and agree to receive personalized commercial communications from Studio On Sunset by email.
                </p>
            </div>
            <div class="col-12">
                <button class="btn btn-primary s-btn w-100" type="submit">SUBSCRIBE</button>
            </div>
        </div>
    </form>
</div>
