.genres {
    height: 100vh;
    a {
        color: #fff;
        font-size: 14px;
    }
    .card-img {
        min-width: 220px;
        max-width: 220px;
        min-height: 135px;
        max-height: 135px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}
