.avatar {
    border-radius: 87px;
    width: 85px;
    height: 85px;
    border: 2px solid #ffd83b;
    margin-right: 20px;
}

.avatar-row {
    margin-top: 40px;
}

.btn-pp {
    color: #cacaca;
    margin-right: 20px;
    background-color: #131519;
    border: none;
}

.btn-remove {
    color: #f15656;
    margin-right: 20px;
    background-color: #131519;
    border: none;
    font-size: 14px;
}

.form-control {
    background-color: #31353e;
    height: 51px;
    border: none;
    color: #fff;
}

.form-container {
    margin-top: 30px;
    margin-bottom: 150px;
}

.pd-btn {
    background: linear-gradient(95.65deg, #ffd83b 4.5%, #ffa43b 97.15%);
    border-radius: 6px;
    border: none;
    color: #232b31;
    font-style: normal;
    font-weight: 600;
    height: 51px;
}

.text-label {
    font-size: 18px;
}