.docs {
  min-height: 100vh;
  padding-top: 89px;
  line-height: 1.5em;
  margin-top: 90px;
  margin-bottom: 235px;
  ul {
    padding-left: 20px;
  }
  li {
    margin-top: 15px;
    color: #d3daef;
    font-weight: 400;
    strong {
      color: white;
    }
    &::marker {
      color: #ffd83b;
    }
  }
  .alt-color {
    color: #ffd83b;
  }
  .no-bullets {
    list-style-type: none;
    margin-bottom: 50px;
  }
  a {
    text-decoration: none;
    word-break: break-word;
    &:hover {
      text-decoration: underline;
    }
  }
  .docs-text {
    font-size: 16px;
    font-weight: 400;
    color: #d3daef;
    em {
      font-weight: 300;
      font-size: 14px;
    }
  }
  .docs-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
    .title-add {
      font-weight: 400;
      font-size: 24px;
      color: #d3d3d3;
    }
  }
  .docs-update {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 40px 0;
    color: #d3daef;
  }
  .docs-sub-title {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .docs-subtitle {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 40px 0 20px 0;
  }
  .docs-subheading {
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0 20px 0;
  }

  .docs-lower-subheading {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .docs--faq {
    margin-left: 15px;
    @media (max-width: 825px) {
      margin-left: unset;
    }
    .faq-title-wrapper {
      margin-bottom: 30px;
      .docs-title {
        color: #ffd83b;
        font-size: 28px;
        font-weight: normal;
        text-align: center;
        margin-top: 90px;
        @media (max-width: 576px) {
          font-size: 18px;
        }
      }
      .bg-text {
        text-align: center;
        position: relative;
        top: -40px;
        font-size: 141px;
        font-weight: 700;
        letter-spacing: 0.85px;
        z-index: -1;
        color: #1f273b;
        @media (max-width: 576px) {
          font-size: 112px;
        }
      }
    }

    .accordion-item {
      background-color: transparent;
      border: none;
      color: white;
      max-width: 745px;
      width: 110%;
      margin: 0 auto 10px auto;
      .accordion-collapse.collapsing {
        background-color: #1f273b;
      }
      @media (max-width: 992px) {
        width: 100%;
      }
      & .collapsing {
        padding-top: 10px;
        margin-top: -10px;
        border-radius: 0 0 10px 10px;
      }
    }
    .accordion-body {
      padding: 0 90px 20px 90px;
      background-color: #1f273b;
      border-radius: 0 0 10px 10px;
      @media (max-width: 825px) {
        padding: 0 50px 0 70px;
      }
      @media (max-width: 576px) {
        padding: 0 0 0 20px;
      }
    }
    .accordion-button {
      background-color: transparent;
      border: none;
      border-radius: 10px;
      color: white;
      padding-top: 20px;
      font-size: 18px;
      &:focus {
        box-shadow: none;
      }
      &:hover {
        background-color: #1f273b;
      }
      @media (max-width: 825px) {
        padding-left: 8px;
        padding-right: 8px;
      }
      @media (max-width: 475px) {
        font-size: 16px;
      }
      &::after {
        width: 40px;
        height: 40px;
        background-size: 40px;
        background-image: url(../../images/icons/faq-arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
      .faq-question {
        width: 40px;
        height: 40px;
        padding-right: 40px;
        background-image: url(../../images/icons/faq-question.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
      &:not(.collapsed) {
        box-shadow: none;
        background-color: #1f273b;
        border-radius: 10px 10px 0 0;
        // @media (max-width: 825px) {
        //   padding-left: 8px;
        //   padding-right: 8px;
        // }
        .faq-question {
          background-image: url(../../images/icons/faq-question-alt.svg);
        }
      }
      .faq-question {
        margin-right: 28px;
      }
      .faq-title {
        margin-right: 5px;
      }
    }
  }
}

.max-width-wrapper {
  max-width: 826px !important;
  @media (max-width: 14400px) {
    padding: 0 65px;
  }
  @media (max-width: 1200px) {
    padding-left: 43px;
    padding-right: 43px;
  }
  @media (max-width: 992px) {
    padding-left: 28px;
    padding-right: 28px;
  }
  @media (max-width: 576px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 500px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
