.docs {
  min-height: 100vh;
  padding-top: 89px;
  line-height: 1.5em;
  margin-top: 90px;
  margin-bottom: 235px;
  ul {
    padding-left: 17px;
  }
  li {
    margin-top: 15px;
    color: #d3daef;
    strong {
      color: white;
    }
    &::marker {
      color: #ffd83b;
    }
  }
  .alt-color {
    color: #ffd83b;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .docs-text {
    font-size: 16px;
    font-weight: 400;
    color: #d3daef;
  }
  .docs-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
  }
  .docs-update {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 40px 0;
    color: #d3daef;
  }
  .docs-sub-title {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .docs-subtitle {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 40px 0 20px 0;
  }
  .docs-subheading {
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0 20px 0;
  }
  .docs--faq {
    .faq-title-wrapper {
      margin-bottom: 30px;
      .docs-title {
        color: #ffd83b;
        font-size: 28px;
        font-weight: normal;
        text-align: center;
        margin-top: 90px;
      }
      .bg-text {
        text-align: center;
        position: relative;
        top:-40px;
        font-size: 141px;
        font-weight: 700;
        letter-spacing: 0.85px;
        z-index: -1;
        color: #1F273B;
      }
    }
    .accordion-item {
      background-color: transparent;
      border: none;
      color: white;
    }
    .accordion-button {
      background-color: transparent;
      border: none;
      color: white;
      &::after {
        content: "v";
        color: white;
        background-image: none;
      }
    }

  }
}

.max-width-wrapper {
  max-width: 826px !important;
  @media (max-width: 14400px) {
    padding: 0 65px;
  }
  @media (max-width: 1200px) {
    padding-left: 43px;
    padding-right: 43px;
  }
  @media (max-width: 992px) {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (max-width: 576px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 500px) {
    padding-left: 0;
    padding-right: 0;
  }
}
