$sos-primary: #ffd83b;

.signup {
  min-height: 100vh;
  .back-wrapper {
    margin: 0 auto -23px auto;
    a {
        color: white;
        font-size: 14px;
        font-weight: 600;
    }
    .nav-back-btn {
      margin-left: 10px;
    }
  }
  .progress-wrapper {
      .progress-text {
          font-size: 12px;
          letter-spacing: 0.25rem;
          color: #6E6F77;
      }
  }
  .signup-row {
    margin-bottom: 10px;
  }
  .email-label {
    margin-bottom: 25px;
  }
  .username-label {
    margin-bottom: 22px;
  }
  .username-row {
    margin-bottom: 22px;
  }
  .offers-wrapper {
    margin-top: 32px;
    margin-bottom: 20px;
  }
  .form-check-input {
      border-radius: 5px;
      min-width: 25px;
      min-height: 25px;
      background-color: transparent;
      border: 2px solid $sos-primary;
      cursor: pointer;
      margin-bottom: 5px;
      &:checked {
          background-color: $sos-primary;
          background-image: url("../../images/icons/checkmark--black.svg");
          background-size: 75%;

      }
  }
  .agree-col {
    background: #31353e;
    padding: 10px;
    border-radius: 6px;
    font-size: 12px;
    color: white;
    line-height: 18px;
    font-weight: 400;
  }
  .agree-link {
    color: #ffd83b;
  }
  
  .continue-btn {
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(
      98deg,
      rgb(255, 216, 59) 0%,
      rgb(255, 164, 59) 100%
    );
    font-size: 18px;
    height: 45px;
    border: none;
    color: #000;
  }
  .continue-btn:disabled {
    background: #7a848b;
    font-size: 18px;
    height: 45px;
    border: none;
    color: #000;
  }
  .fl {
    font-weight: 500;
    color: #CACACA;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 2px;
  }
  .form-control {
    background: #31343e;
    height: 51px;
    color: #fff;
    border: 1px solid rgb(110, 110, 110);
  }
  .form-pw {
    background: #131519 ;
    border: none;
    font-size: 14px;
    font-weight: 500;
    height: 62px;
    border-radius: 6px;
  }
  .requirements-wrapper {
    font-size: 12px;
    font-weight: 400;
    margin-top: -23px;
    margin-bottom: -15px;
  }
  .password-wrapper {
    height: 100%;
    margin-top: 9px;
    input {
      border-radius: 6px 0 0 6px;
    }
    span {
    background-color: #31343e;
    height: 51px;
    border: none;
    border-radius: 0 6px 6px 0;
    .fa-lg {
      font-size: 20px;
      padding-top: 3px;
    }
    i {
      color: #cacaca;
      width: 27px;
      height: 22px;
    }
    }
  }
  .your-email-wrapper {
    margin-bottom: 19px;
  }
  .password-checker-wrapper {
    margin-top: 8px;
  }
  label {
    font-size: 20px;
    font-weight: 600;
  }
  .list-group-item {
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    border: none;
    padding: 0;
    line-height: normal;
    margin: 6px 0;
  }
  .image-wrapper {
    width: min-content;
    margin: 0 auto;
  }
  .logo {
    width: 100px;
    height: 68px;
    margin: 0 auto 37px auto;
    display: block;
    @media (max-width: 350px) {
      width: 80px;
      height: 48px;
    }
  }
  .login {
    color: #fff;
    font-weight: 600;
  }
  .terms-label {
    font-size: 12px;
    color: white;
    font-weight: 400;
  }
  .login-link {
    font-size: 14px;
    color: #787c85;
    font-weight: 400;
    a {
      text-decoration: none;
      font-weight: 600;
      margin-left: 0.5px;
    }
  }
  .valid {
    color: greenyellow;
    text-decoration: line-through;
  }
}

.signup-wrapper {
    max-width: 415px;
    margin: 0 auto;
}

.max-width-wrapper {
  max-width: 1575px !important;
  padding: 52px 48px 330px 46px;
  @media (min-width: 1575px) {
    padding-left: 70px;
    padding-right: 70px;
  }
  @media (max-width: 1200px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 992px) {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (max-width: 768px) {
    padding-top: 35px;
  }
  @media (max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 475px) {
    padding-left: 0;
    padding-right: 0;
  }
}
