<div class="signup max-width-wrapper mx-auto">
    <div class="back-wrapper to-home" *ngIf="step === 1">
        <a class="navbar-brand d-flex align-items-center" href="/login">
            <svg xmlns="http://www.w3.org/2000/svg" width="6.727" height="12.102" viewBox="0 0 6.727 12.102">
                <path id="spwiper-prev--disabled"
                    d="M6.042,0A.81.81,0,0,0,5.49.224L.312,5.026A1.038,1.038,0,0,0,.2,6.381a.762.762,0,0,0,.573.342.8.8,0,0,0,.644-.217L6.043,2.2l4.625,4.152a.8.8,0,0,0,.635.21.842.842,0,0,0,.58-.354,1.032,1.032,0,0,0,.214-.73.992.992,0,0,0-.335-.672L6.584.172A.8.8,0,0,0,6.042,0Z"
                    transform="translate(0 12.102) rotate(-90)" fill="#fff" />
            </svg>
            <span class="nav-back-btn">Go back</span></a>
    </div>
    <div class="back-wrapper last-step" *ngIf="step >= 2">
        <a class="navbar-brand d-flex align-items-center" href="javascript:void(0)" (click)="lastStep()">
            <svg xmlns="http://www.w3.org/2000/svg" width="6.727" height="12.102" viewBox="0 0 6.727 12.102">
                <path id="spwiper-prev--disabled"
                    d="M6.042,0A.81.81,0,0,0,5.49.224L.312,5.026A1.038,1.038,0,0,0,.2,6.381a.762.762,0,0,0,.573.342.8.8,0,0,0,.644-.217L6.043,2.2l4.625,4.152a.8.8,0,0,0,.635.21.842.842,0,0,0,.58-.354,1.032,1.032,0,0,0,.214-.73.992.992,0,0,0-.335-.672L6.584.172A.8.8,0,0,0,6.042,0Z"
                    transform="translate(0 12.102) rotate(-90)" fill="#fff" />
            </svg>
            <span class="nav-back-btn">Go back</span></a>
    </div>






    <div class="signup-wrapper">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12 image-wrapper">
                    <img src="./assets/sos-logo.svg" class="logo">
                </div>
            </div>
            <div class="row" *ngIf="!emailAvailable">
                <div class="signup-row email-error-wrapper alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Oh no!</strong> An account already exist with this email. Please try again.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>



            <!-- *****************************   step 1 of 3  ******************************** -->

            <div class="row signup-row" *ngIf="step === 1">
                <div class="progress-wrapper"><span class="progress-text">1/3</span></div>
                <div class="col-12">
                    <label for="exampleFormControlInput1" class="form-label email-label">Enter Email</label>
                    <input type="email" class="form-control" id="email" (input)="emailUniq()" placeholder="Email"
                        formControlName="email" required>
                </div>
            </div>
            <div class="row signup-row offers-wrapper" *ngIf="step === 1">
                <div class="col-12">
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            formControlName="receiveUpdates">
                        <label class="form-check-label terms-label ms-2" for="flexCheckDefault">
                            Yes! I would like to receive updates, special offers, and other information from Studio On
                            Sunset
                        </label>
                    </div>
                </div>
            </div>
            <div class="row signup-row" *ngIf="step === 1">
                <div class="terms-btn-wrapper">
                    <div class="col-12 agree-col">
                        <p class="agree-text">
                            Studio on Sunset will use your data to personalize and improve your Studio on Sunset
                            experience and to send you information about Studio on Sunset. You can change your
                            communication preferences anytime. We may use your data as described in our <span
                                class="agree-link">Privacy Policy</span>, including sharing it with the family of
                            companies. By clicking “Agree & Continue”, you agree to our <span class="agree-link">User
                                Agreement</span> and acknowledge that you have read our <span class="agree-link">Privacy
                                Policy</span>.
                        </p>
                        <button class="btn btn-primary btn-lg continue-btn w-100" (click)="nextStep()"
                            [disabled]="checkEmail()">Agree & Continue</button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!usernameAvailable">
                <div class="col-12 mt-5 alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Oh no!</strong> This username is taken. Please try again.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="row signup-row" *ngIf="step === 1">
                <div class="col-12">
                    <p class="login-link">Already have an account? <a href="/login" class="login">Log In</a></p>
                </div>
            </div>




            <!-- ****************************  step 2 of 3 ************************* -->















            <div class="row username-row" *ngIf="step === 2">
                <div class="progress-wrapper"><span class="progress-text">2/3</span></div>
                <div class="col-12">
                    <label for="exampleFormControlInput1" class="form-label username-label">Create Username</label>
                    <input type="text" class="form-control border-0" id="username" (input)="usernameUniq()"
                        placeholder="Username" formControlName="username" required>
                </div>
            </div>
            <div class="row signup-row" *ngIf="step === 2">
                <div class="col-12 d-grid">
                    <div class="col-12">
                        <button class="btn btn-primary btn-lg continue-btn w-100 text-uppercase" (click)="nextStep()"
                            [disabled]="checkUsername()">Complete</button>
                    </div>
                </div>
            </div>



            <!-- ***************************  step 3 of 3 *************************************** -->



            <div class="row signup-row mb-0" *ngIf="step === 3">
                <div class="progress-wrapper"><span class="progress-text">3/3</span></div>

                <label for="password" class="form-label">Create Password</label>
                <div class="col-12">
                    <div class="d-flex align-items-center password-wrapper signup-row">

                        <input type="password" id="password" (input)="checkPassword()" class="form-control border-0"
                            placeholder="Password" aria-label="Password" formControlName="password" required>
                        <span class="input-group-text" (click)="toggleVisibility($event, 'password')">
                            <i id="new-password-togglePassIcon" class="fas fa-eye-slash fa-lg"></i>
                        </span>
                    </div>


                    <!-- <label for="exampleFormControlInput1" class="form-label">Create a password</label>
        <input type="password" class="form-control border-0" id="password" (input)="checkPassword()"
            placeholder="Password" formControlName="password" required> -->
                </div>
            </div>
            <div class="row signup-row" *ngIf="step === 3">
                <div class="col-12">
                    <div class="col-12 password-checker-wrapper">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" [ngClass]="passwordMin === true ? 'valid' : 'invalid'">Minimum
                                eight characters</li>
                            <li class="list-group-item" [ngClass]="passwordUpper === true ? 'valid' : 'invalid'">At
                                least one uppercase letter</li>
                            <li class="list-group-item" [ngClass]="passwordLower === true ? 'valid' : 'invalid'">At
                                least one lowercase letter</li>
                            <li class="list-group-item" [ngClass]="passwordNum === true ? 'valid' : 'invalid'">At least
                                one number</li>
                            <li class="list-group-item" [ngClass]="passwordSC === true ? 'valid' : 'invalid'">At least
                                one special character</li>
                        </ul>
                    </div>
                    <!-- <div class="requirements-wrapper">
                        <p class="requirement-text">Use a minimum of 8 characters with at least one number, one
                            uppercase letter, and one special character</p>
                    </div> -->
                </div>
            </div>
            <div class="row your-email-wrapper" *ngIf="step === 3">
                <div class="col-12 form-floating">
                    <input type="email" class="form-control form-pw" id="floatingInputValue"
                        value="{{ signUpForm?.value?.email }}" readonly>
                    <label for="floatingInputValue" class="fl">You are using this email:</label>
                </div>
            </div>
            <div class="row signup-row" *ngIf="step === 3">
                <div class="col-12 d-grid">
                    <div class="col-12 d-grid">
                        <button type="submit" class="btn btn-primary btn-lg continue-btn w-100"
                            [disabled]="!isValid">Continue</button>
                    </div>
                </div>
            </div>






            <!-- ***************************   end of steps ***************************** -->




        </form>
    </div>
</div>