.logo {
  width: 62px;
  height: auto;
}

nav {
  background: transparent linear-gradient(180deg, #1a2030 0%, #1a203000 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  .avatar {
    border-radius: 19px;
    height: 37px;
    width: 37px;
  }
  .btn-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
  }
  .btn-sos-main {
    background: linear-gradient(105deg, #ffd83b, #ffa43b);
    color: #000;
    padding: 5px 18px !important;
    border-radius: 5px;
    font-size: 16px;
    max-height: 35px;
  }
  .fa-bars {
    color: #fff;
  }
  .nav-link.active {
    color: #fff;
  }

  .navbar-toggler {
    border: none;
  }
  .dropdown-menu {
    background-color: #000;
    padding: 10px;
  }
  .dropdown-item {
    color: #fff;
    background-color: transparent;
  }
  .user-icon {
  }
  .max-width-wrapper {
    max-width: 1440px !important;
  }
}


@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    &:hover {
      color: #ffd83b;
    }
  }
}
