nav {
  background: transparent linear-gradient(180deg, #1a2030 0%, #1a203000 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
  padding: 20px 72px 20px 72px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  @media (max-width: 1200px) {
    padding-left: 43px;
    padding-right: 43px;
  }
  @media (max-width: 992px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 576px) {
    padding-left: 27px;
    padding-right: 27px;
  }
  @media (max-width: 500px) {
    padding-left: 9px;
    padding-right: 9px;
  }
  .avatar {
    border-radius: 50%;
    height: 47px;
    width: 47px;
    margin-left: 20px;
  }
  .btn-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-left: 15px;
    &:hover {
      color: #ffd83b;
    }
  }
  .btn-sos-main {
    background: linear-gradient(105deg, #ffd83b, #ffa43b);
    color: #000;
    padding: 5px 18px !important;
    border-radius: 5px;
    font-size: 16px;
    max-height: 35px;
    margin-left: 25px;
  }
  .left-links {
    .nav-item {
      margin: 0 45px 0 0;
      &:first-child {
        margin-left: 45px;
      }
    }
  }
  .nav-link {
    color: #fff;
    padding: 0;
    &:hover {
      color: #ffd83b;
    }
  }
  .search-icon {
    width: 20px;
    height: 20px;
  }
  .search-icon:hover {
    path {
      fill: #ffd83b;
    }
  }
  @media (min-width: 1440px) {
    button {
      padding-right: 0 !important;
    }
  }
  .navbar-toggler {
    border: none;
    background-image: url(../../../images/icons/SOS_Mobile_Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    //increasing target area for easier clicking
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1rem;
  }
  .offcanvas {
    background-color: #1a2030;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    padding: 20px 0 30px 0;
    transition: 0s;
    .btn-close {
      width: 15px;
      height: 15px;
      position: relative;
      right: 10px;
      background: url(../../../images/icons/mobile-close.svg);
      background-position: center;
      background-repeat: no-repeat;
      opacity: 1;
    }
    .offcanvas-header {
      padding: 1rem 28px;
      @media (max-width: 500px) {
        padding: 1rem 10px;
      }
      @media (max-width: 575px) {
        padding-right: 25px;
        padding-left: 25px;
      }
      @media (max-width: 500px) {
        padding-right: 7px;
        padding-left: 7px;
      }
    }
    
    .offcanvas-title {
      margin: 80px 0 25px 20px;
      font-size: 28px;
      font-weight: 600;
      text-transform: initial;
    }
    .offcanvas-body {
      padding: 0;
      flex-grow: initial;
      overflow: hidden;
      li {
        width: 100%;
        a {
          padding-left: 20px;
        }
        .home-link-active {
          background-color: #0e111a;
          img {
            content: url("../../../images/icons/mobile-home-active.svg");
          }
        }
        .ticket-link-active {
          background-color: #0e111a;
          img {
            content: url("../../../images/icons/mobile-ticket-active.svg");
          }
        }
        .profile-link-active {
          background-color: #0e111a;
          img {
            content: url("../../../images/icons/mobile-user-circle-active.svg");
          }
        }
        img {
          width: 20px;
        }
        a {
          width: 100%;
          height: 60px;
          .canvas-link-text {
            line-height: 1rem;
            padding-left: 15px;
          }
        }
        font-size: 18px;
        &:last-child {
          margin-bottom: 50px;
        }
        @media (max-width: 575px) {
          font-size: 16px;
        }
        @media (max-width: 375px) {
          font-size: 14px;
        }
      }
    }
    .no-user {
      button {
        text-align: left;
        padding-left: 35px;
        width: 98%;
        height: 50px;
        max-height: unset;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .btn-sos-main {
        margin: 15px auto;
        padding-left: 40px !important;
      }
    }
    .mobile-user-wrapper {
      a {
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        margin-left: 55px;
        height: 50px;
        @media (max-width: 575px) {
          font-size: 18px;
        }
      }
      .mobile-support-link {
        text-transform: capitalize;
        font-size: 18px;
        @media (max-width: 575px) {
          font-size: 14px;
        }
      }
    }
  }
  .profile-wrapper {
    .dropdown-menu {
      width: 185px;
      left: unset;
      right: 0 !important;
      background-color: #0e111a;
      box-shadow: 0px 10px 50px #151a27;
      border: none;
      padding: 32px 25px 25px 25px;
      margin-top: 10px;
      text-transform: capitalize;

      li {
        &:first-child {
          margin-top: -5px;
          margin-bottom: 10px;
        }
        &:nth-child(2) {
          margin-bottom: 25px;
        }
        &:last-child {
          margin-top: 20px;
        }
      }
      &::before {
        content: url(../../../images/icons/nav-menu-arrow.png);
        position: absolute;
        top: -15px;
        left: 153px;
      }

      .dropdown-divider {
        color: rgb(87, 87, 100);
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  .notifications-wrapper {
    width: 25px;
    height: 25px;
    border-radius: 6px;
    background-image: url(../../../images/icons/notification.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-transform: capitalize;
    &:hover {
      background-image: url(../../../images/icons/notification--hover.svg);
    }
    .notification-btn {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    .notification-link {
      cursor: pointer;
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        color: #ffd83b;
      }
    }
    .dropdown-menu {
      width: 335px;
      height: 450px;
      padding: 25px;
      left: -158px;
      margin-top: 15px;
      border: none;
      color: white;
      background-color: #0e111a;
      box-shadow: 0px 10px 50px #151a27;
      &::before {
        content: url(../../../images/icons/nav-menu-arrow.png);
        position: absolute;
        top: -15px;
        left: 163px;
      }
      .notifications-title {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 32px;
      }
      .dropdown-divider {
        color: #3e495a;
      }
      .item-title {
        color: #6e6f77;
        font-size: 12px;
        font-weight: 600;
        margin: 15px 0;
      }
      .item-body {
        color: white;
        font-size: 14px;
        font-weight: 500;
        margin: 15px 0;
      }
    }
  }
  .dropdown-item {
    color: #fff;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    &::before {
      content: url(../../../images/icons/nav-hover-dash.svg);
      opacity: 0;
      margin-right: -5px;
      position: relative;
      top: -5px;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      &::before {
        opacity: 1;
        margin-right: 5px;
      }
    }
    svg:hover {
      fill: #ffd83b;
    }
  }
  .user-icon {
    margin-left: 20px;
  }
  .max-width-wrapper {
    max-width: 1440px !important;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    &:hover {
      color: #ffd83b;
    }
  }
}
