<div class="forgot-password max-width-wrapper mx-auto">
    <div class="back-wrapper">
        <a class="navbar-brand d-flex align-items-center" href="javascript:void(0)" (click)="goBack()">
            <svg xmlns="http://www.w3.org/2000/svg" width="6.727" height="12.102" viewBox="0 0 6.727 12.102">
                <path id="spwiper-prev--disabled"
                    d="M6.042,0A.81.81,0,0,0,5.49.224L.312,5.026A1.038,1.038,0,0,0,.2,6.381a.762.762,0,0,0,.573.342.8.8,0,0,0,.644-.217L6.043,2.2l4.625,4.152a.8.8,0,0,0,.635.21.842.842,0,0,0,.58-.354,1.032,1.032,0,0,0,.214-.73.992.992,0,0,0-.335-.672L6.584.172A.8.8,0,0,0,6.042,0Z"
                    transform="translate(0 12.102) rotate(-90)" fill="#fff" />
            </svg>
            <span class="nav-back-btn">Go back</span></a>
    </div>
    <div class="forgot-password-wrapper">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12">
                    <img src="./assets/sos-logo.svg" width="100px" height="68px" class="logo">
                </div>
            </div>
            <div class="row" *ngIf="hasError">
                <div class="col-12 mt-5 alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Oh no!</strong> Looks like you've entered the wrong username or password. Please try again.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="exampleFormControlInput1" class="form-label">Reset your password</label>
                    <div class="reset-text">Enter the email address associated with your account and we will send you an email to reset your password.</div>
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
                        required>
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-grid">
                    <button type="submit" class="btn btn-primary btn-lg login-btn"
                        [disabled]="passwordForm.invalid">Submit</button>
                </div>
            </div>
            <div class="row help">
                <div class="signup-wrapper">
                    <span class="w-100" routerLink="/signup">Don't have an account? <a class="signup"
                            routerLink="/signup">Sign
                            up</a></span>
                </div>
            </div>
        </form>
    </div>
</div>