.purchase-show {
    min-height: 100vh;
    padding-top: 162px;
    padding-bottom: 162px;
    .btn-preview {
        width: 123px;
        height: 37px;
        background: #fff;
        border-radius: 6px;
        color: #0f121c;
    }
    .btn-share {
        width: 106px;
        height: 37px;
        margin-left: 20px;
        background: #000;
        border-radius: 6px;
        font-size: 16px;
        color: #fff;
        img {
           width: 22px; 
        }
    }
    .currency-select {
        width: 177px;
        border: 1px solid #788995;
        border-radius: 10px;
        color: #fff;
        background-color: #131519;
        margin-left: 13px;
    }
    .currency-title {
        margin-top: 7px;
    }
    .ticket-container {
        background: rgba(26,32,48,.7725490196078432);
        box-shadow: 0 0 12px rgb(0 0 0 / 10%);
        backdrop-filter: blur(30px);
        border-radius: 23px;
        padding: 0 57px 50px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        min-height: 701px;
        // Extra Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {

        }
        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { 
            width: 820px;
        }
        .artist-main {
            border-radius: 27px;
            width: 334px;
            height: 334px;
            margin-top: 30px;
            // Extra Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {

            }
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
                margin-left: auto;
                margin-right: auto;
                position: relative;
            }

            // Medium devices (tablets, 768px and up)
            @media (min-width: 1257px) {
                position: absolute;
                left: -216px;
            }
        }
        .img-container {
            // Extra Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
                text-align: center;
                margin-bottom: 30px;
            }
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
                text-align: center;
                margin-bottom: 30px;
            }

            // Medium devices (tablets, 768px and up)
            @media (min-width: 1257px) { 
                text-align: none;
            }
        }
        .date-duration {
            margin-top: 21px;
            align-items: center;
            img {
                width: 20px;
                margin-right: 10px;
            }
            .date {
                margin-right: 30px;
            }
        }
        .details {
            h1 {
                font-size: 34px;
                font-weight: 700;
            }
            h2 {
                color: #ffd83b;
                font-size: 22px;
                font-weight: 600;
            }
            .share {
                margin-top: 20px;
            }
            .summary {
                margin-top: 20px;
                color: #b0b9d3;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0;
            }
            // Extra Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
            }
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
            }

            // Medium devices (tablets, 768px and up)
            @media (min-width: 1257px) { 
                margin-left: 100px;
                margin-top: 30px;
            }
        }
        .ticket {
            // Extra Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {

            }
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
            }

            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) { 
                margin-top: 110px;
            }
        }
    }
}

.btn-checkout {
   color: #232B31;
   text-transform: uppercase;
   height: 60px;
   width: 100%; 
   background: transparent linear-gradient(98deg, #FFD83B 0%, #FFA43B 100%) 0% 0% no-repeat padding-box;
   border-radius: 10px;
}

.btn-link {
    color: #B0B9D3;
}
.form-control {
   background-color: #1A2030;
   color: #B0B9D3;
   border: none;
}
.merch {
    p {
        margin-top: 29px;
        margin-left: 24px;
    }
    .row {
        height: 142px;
        border-radius: 11px;
        background-color: #363f4c;
        opacity: 1;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        margin-bottom: 2px;
        padding: 24px;
    }
}
.modal-content {
    background-color: #000;
    border-radius: 9px;
}
.modal-header {
    border: none;
}
.input-group-text {
    background: transparent linear-gradient(135deg, #FFD83B 0%, #FFA43B 100%) 0% 0% no-repeat padding-box;
    border: none;
}
.pay {
    border-top: 1px dotted #363f4c;
}

.share-container {
    .modal {
        width: 90%;
        border: none;
    }
    .modal-content {
        background-color: transparent;
        border: none;
    }
}

.totals-row {
    margin-top: 27px;
    .amount {
        font-size: 26px;
    }
    .total {
        color: #B0B9D3;
        font-size: 18px;
    }
}

video {
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
}