<div class="purchase-show">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="artist-info">
                <div>
                    <img [src]="event?.performers[0]?.flyer?.formats?.medium?.url" class="float-start">
                    <h3 class="artist-name">{{ event?.performers[0]?.name }}</h3>
                    <p class="event-title">{{ event?.name }}</p>
                    <div class="row">
                        <section class="event-date">
                            <span class="date"><img src="../images/icons/calendar.svg"><span class="e-d-text">{{ getDate(event, event?.start) }}</span></span>
                            <span class="duration"><img src="../images/icons/clock.svg"><span class="e-d-text"> {{ setEventDuration(event?.start, event?.end) }}</span></span>
                        </section>
                    </div>
                    <section class="share">
                        <button type="button" class="btn btn-preview" data-bs-toggle="modal" data-bs-target="#previewModal" (click)="openPreview(1)"><img src="../../images/icons/play-circle-outline.svg" alt="play"> Preview</button>
                        <button type="button" class="btn btn-share" data-bs-toggle="modal" data-bs-target="#shareModal"><img src="../images/icons/share.svg" alt="share"> Share</button>
                    </section>
                </div>
            </div>
            <div class="show-info">
                <h3 class="title">Show Info</h3>
                <p class="show-details"> {{ event?.summary }} </p>
            </div>
            <div class="get-ticket">
                <h3 class="title">Get your ticket</h3>
                <app-ticket [event]="event" [tickets]="event.tickets" *ngIf="event" class="tickets"></app-ticket>
            </div>
            <div class="get-merch">
                <h3 class="title">Merch</h3>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            right container
        </div>
    </div>
</div>
