<div class="purchase-show">
    <div class="left">
        <div class="artist-info">
            <!-- <img [src]="event?.performers[0]?.flyer?.formats?.medium?.url" class="float-start"> -->
            <img src="../images/Artist1.jpg" class="float-start">
            <h3 class="artist-name">{{ event?.performers[0]?.name }}</h3>
            <p class="event-title">{{ event?.name }}</p>
            <div class="row">
                <section class="event-date">
                    <!-- <span class="date"><img src="../images/icons/calendar.svg"><span class="e-d-text">{{ getDate(event, event?.start) }}</span></span>
                    <span class="duration"><img src="../images/icons/time.svg"><span class="e-d-text"> {{ setEventDuration(event?.start, event?.end) }}</span></span> -->
                    <span class="date"><img src="../images/icons/calendar.svg"><span class="e-d-text">Jul 15</span></span>
                    <span class="duration"><img src="../images/icons/time.svg"><span class="e-d-text"> 10:00pm EDT</span></span>
                </section>
            </div>
            <section class="share">
                <button type="button" class="btn btn-preview" data-bs-toggle="modal" data-bs-target="#previewModal" (click)="openPreview(1)"><i class="fas fa-play"></i> Preview</button>
                <button type="button" class="btn btn-share" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="fas fa-share-alt"></i> Share</button>
            </section>
        </div>
        <div class="show-info">
            <h3 class="title">Show Info</h3>
            <!-- <p class="show-details"> {{ event?.summary }} </p> -->
            <p class="show-details">Johnny will be streaming the It’s Never Really Over virtual world tour on SOS, giving fans a unique live experience across 13 tour dates. Watch Johnny perform from Toronto’s Danforth Music Hall, in a one hour fully produced concert that will have fans dancing in their homes across the world. live experience across 13 tour dates Over virtual world tour on SOS <a href="#"><span> more</span></a></p>
        </div>
        <div class="get-ticket">
            <h3 class="title">Tickets</h3>
            <app-ticket [event]="event" [tickets]="event.tickets" *ngIf="event" class="tickets"></app-ticket>
        </div>
        <div class="get-merch">
            <h3 class="title">Merch</h3>
            <div class="march-main">
                <div class="box">
                    <div class="img">
                        <img src="../images/icons/grey-sweatshirt.jpg">
                    </div>
                    <h4>Harry Styles Fine Line T-Shirt</h4>
                    <h5>$ 15.00</h5>
                    <h6>SIZE</h6>
                    <span>
                        <select>
                            <option>XL</option>
                            <option>L</option>
                            <option>M</option>
                            <option>S</option>
                        </select>
                        <button>Added</button>
                    </span>
                </div>

                <div class="box">
                    <div class="img">
                        <img src="../images/icons/grey-sweatshirt.jpg">
                    </div>
                    <h4>Harry Styles Fine Line T-Shirt</h4>
                    <h5>$ 15.00</h5>
                    <h6>SIZE</h6>
                    <span>
                        <select>
                            <option>XL</option>
                            <option>L</option>
                            <option>M</option>
                            <option>S</option>
                        </select>
                        <button>Added</button>
                    </span>
                </div>

                <div class="box">
                    <div class="img">
                        <img src="../images/icons/grey-sweatshirt.jpg">
                    </div>
                    <h4>Harry Styles Fine Line T-Shirt</h4>
                    <h5>$ 15.00</h5>
                    <h6>SIZE</h6>
                    <span>
                        <select>
                            <option>XL</option>
                            <option>L</option>
                            <option>M</option>
                            <option>S</option>
                        </select>
                        <button>Add</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="cartright">
        <div class="dropdown">
            <label>Currency</label>
            <button>US dollar<i class="fas fa-caret-down"></i></button>
        </div>
        <div class="cart">
            <h5>Cart</h5>

            <div class="field">
                <label><i class="far fa-times-circle"></i>VIP Stream Bundle</label>
                <span class="price">$ 150.00</span>
            </div>

            <div class="field">
                <label><i class="far fa-times-circle"></i>Harry Styles - Fine Line T-…</label>
                <span class="price">$ 15.00</span>
            </div>

            <div class="tick">
                <input type="checkbox">
                <label>Have a Promo Code?</label>
            </div>

            <div class="hide">
                <input type="text">
                <input type="submit" value="Applied!">
            </div>

            <div class="others">
                <label>Subtotal</label>
                <span class="price">$ 165.00</span>
            </div>

            <div class="others">
                <label>Promo</label>
                <span class="price">- $ 36.00</span>
            </div>

            <div class="others">
                <label>Service fee</label>
                <span class="price">$ 15.00</span>
            </div>

            <div class="others">
                <label>Shipping & Handling</label>
                <span class="price">$ 0.00</span>
            </div>

            <div class="total">
                <label>Total</label>
                <span class="price">$ 180.00<br><small>Price including Tax</small></span>
            </div>

            <a href="#">Continue to payment</a>

        </div>
    </div>
</div>

<div class="chkout">
    <div class="leftt">
        <h3>$ 165.00<br><small>Price including Tax</small></h3>
    </div>
    <div class="rightt">
        <div class="cartright">
            <div class="dropdown">
                <label>Currency</label>
                <button>US dollar<i class="fas fa-caret-down"></i></button>
            </div>
            <div class="cart">
                <h5>Your Cart</h5>

                <div class="field">
                    <label><i class="far fa-times-circle"></i>VIP Stream Bundle</label>
                    <span class="price">$ 150.00</span>
                </div>

                <div class="field">
                    <label><i class="far fa-times-circle"></i>Harry Styles - Fine Line T-…</label>
                    <span class="price">$ 15.00</span>
                </div>

                <div class="tick">
                    <input type="checkbox">
                    <label>Have a Promo Code?</label>
                </div>

                <div class="hide">
                    <input type="text">
                    <input type="submit" value="Applied!">
                </div>

                <div class="others">
                    <label>Subtotal</label>
                    <span class="price">$ 165.00</span>
                </div>

                <div class="others">
                    <label>Service fee</label>
                    <span class="price">$ 15.00</span>
                </div>

                <div class="others">
                    <label>Shipping & Handling</label>
                    <span class="price">$ 0.00</span>
                </div>
            </div>
        </div>
        <span>Cart Items<i class="fas fa-chevron-up"></i></span>
        <button>Checkout</button>
    </div>
</div>
