<div class="home max-width-wrapper mx-auto">
    <div class="heading">
        <div class="row align-items-center feature-wrapper">
            <div class="col-12 col-md-6">
                <h4 class="artist-name">{{ featuredEvent?.performers[0]?.name }}</h4>
                <h1 class="event-name">{{ featuredEvent?.name }}</h1>
                <p class="event-date">
                    <img src="./assets/calendar.svg" alt="calendar" class="cal-icon"> <span class="cal-text">{{ setEventStartDate(featuredEvent?.start)}}</span>
                    <img src="./assets/time.svg" alt="clock" class="cal-icon"> <span class="cal-text">{{ setEventDuration(featuredEvent?.start, featuredEvent?.end)}}</span>
                </p>
                <div class="row">
                    <div class="col-12">
                        <span class="badge bg-white">LIVE</span>
                        <span class="badge bg-outline-white">FHD</span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <button type="button" class="btn btn-outline-purchase">Purchase</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pe-0">
                <!-- <img [src]="getPerformerPic(featuredEvent?.performers[0]?.profile_picture)" alt="featured artist" class="preview-pic"> -->
                <img src="https://via.placeholder.com/485" alt="featured artist" class="preview-pic" width="485px" height="485px">
            </div>
        </div>
        <div class="row watch-now">
            <div class="col-6">
                <h4 class="section-heading">Watch Now</h4>
            </div>
            <div class="col-6">
                <div class="btn-group float-end" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                  </div>
            </div>
        </div>
        <div class="row watch-now">
            <div class="col-6">
                <h4 class="section-heading">Just Announced</h4>
            </div>
            <div class="col-6">
                <div class="btn-group float-end" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                  </div>
            </div>
        </div>
    </div>
</div>