<div class="home max-width-wrapper mx-auto">

    <div id="bg-container" class="position-absolute p-0 m-0" style="width: 100%; height: 700px;"></div>

    <div class="heading">
        <div class="d-flex align-items-center feature-wrapper">
            <div class="event-wrapper" style="width: 100%; height: 100%;">
                <div class="artist-name">{{ featuredEvent?.performers[0]?.name }}</div>
                <h1 class="event-name">{{ featuredEvent?.name }}</h1>
                <div class="event-date d-flex align-items-center">
                    <div class="event-details-wrapper d-flex align-items-center">
                        <img src="./assets/calendar.svg" alt="calendar" class="cal-icon"> <span class="cal-text">{{
                            setEventStartDate(featuredEvent?.start)}}</span>
                    </div>
                    <div class="event-details-wrapper d-flex align-items-center">
                        <img src="./assets/time.svg" alt="clock" class="cal-icon"> <span class="cal-text">{{
                            setEventDuration(featuredEvent?.start, featuredEvent?.end)}}</span>
                    </div>
                </div>
                <div class="row badge-wrapper">
                    <div class="col-12 px-0">
                        <span class="badge bg-white">LIVE</span>
                        <span class="badge bg-outline-white">FHD</span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <button type="button" class="btn btn-outline-purchase">Purchase</button>
                    </div>
                </div>
            </div>
            <div class="d-flex preview-pic-wrapper">
                <img [src]="getPerformerPic(featuredEvent?.performers[0]?.profile_picture)" alt="featured artist"
                    class="preview-pic" width="485px" height="485px">
                <!-- <img src="https://via.placeholder.com/485" alt="featured artist" class="preview-pic" width="485px" height="485px"> -->
            </div>
        </div>
        <div class="row watch-now">
            <div class="col-6">
                <h4 class="section-heading">Watch Now</h4>
            </div>
            <div class="col-6">
                <div class="btn-group float-end" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="card-wrapper w-100">
                <div class="artist-card-container">
                    <img src="https://picsum.photos/225" alt="" class="artist-img" width="225px" height="225px">
                    <div class="card-details">
                        <div class="event alt-color">{{ featuredEvent?.name }}</div>
                        <div class="artist">{{ featuredEvent?.performers[0]?.name }}</div>
                    </div>
                </div>
                <div class="artist-card-container">
                    <img src="https://picsum.photos/225" alt="" class="artist-img" width="225px" height="225px">
                    <div class="card-details">
                        <div class="event alt-color">{{ featuredEvent?.name }}</div>
                        <div class="artist">{{ featuredEvent?.performers[0]?.name }}</div>
                    </div>
                </div>
                <div class="artist-card-container">
                    <img src="https://picsum.photos/225" alt="" class="artist-img" width="225px" height="225px">
                    <div class="card-details">
                        <div class="event alt-color">{{ featuredEvent?.name }}</div>
                        <div class="artist">{{ featuredEvent?.performers[0]?.name }}</div>
                    </div>
                </div>
                <div class="artist-card-container">
                    <img src="https://picsum.photos/225" alt="" class="artist-img" width="225px" height="225px">
                    <div class="card-details">
                        <div class="event alt-color">{{ featuredEvent?.name }}</div>
                        <div class="artist">{{ featuredEvent?.performers[0]?.name }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row watch-now">
            <div class="col-6">
                <h4 class="section-heading">Just Announced</h4>
            </div>
            <div class="col-6">
                <div class="btn-group float-end" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>