.home {
  min-height: 100vh;
  padding-top: 90px;
  padding-bottom: 160px;
  .feature-wrapper {
      @media (max-width: 768px) {
          text-align: center;
          flex-flow: column-reverse;
      }
  }
  .artist-name {
    color: #ffdc4e;
    font-size: 28px;
    @media (max-width: 768px) {
        font-size: 24px;
    }
  }
  .bg-white {
    padding: 3px 6px;
    background-color: #fff;
    color: #000;
    font-weight: 800;
    font-size: 18px;
  }
  .bg-outline-white {
    padding: 3px 6px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    margin-left: 10px;
    font-weight: 800;
    font-size: 18px;
  }
  .btn-outline-purchase {
    border: 3px solid #ffdc4e;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 61px;
    padding-right: 61px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    &:hover {
      background-color: #ffdc4e;
      color: black;
    }
  }
  .btn-secondary {
    background-color: #20212b;
    border: 1px solid #2e303d;
  }
  .cal-icon {
    width: 16px;
    height: 16px;
    color: #ffdc4e;
    margin-right: 10px;
  }
  .cal-text {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
  .event-name {
    font-size: 60px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 20px;
    @media (max-width: 1200px) {
        font-size: 54px;
    }
    @media (max-width: 768px) {
        font-size: 42px;
    }
  }
  .badge-wrapper {
    margin-bottom: 35px;
  }
  .fa-chevron-left,
  .fa-chevron-right {
    color: #ffdc4e;
  }
  .preview-pic-wrapper {
    justify-content: flex-end;
    @media (max-width: 768px) {
      justify-content: center;
    }

  }
  .preview-pic {
    width: 100%;
    max-width: 485px;
    height: 100%;
    border-radius: 10px;
    @media (max-width:768px) {
        position: unset;
        left: unset;
        margin-bottom: 50px;
    }
    // Extra Small devices (landscape phones, 576px and up)
    // @media (max-width: 576px) {
    //     width: 486px;
    //     height: 486px;
    //     border-radius: 10px;
    // }

    // // Small devices (landscape phones, 576px and up)
    // @media (min-width: 576px) {
    //     width: 486px;
    //     height: 486px;
    //     border-radius: 10px;
    // }

    // // Medium devices (tablets, 768px and up)
    // @media (min-width: 768px) {
    //     width: 486px;
    //     height: 486px;
    //     border-radius: 10px;
    // }
    // // Large devices (desktops, 1185px and up)
    // @media (min-width: 1185px) {
    //     width: 445px;
    //     height: 445px;
    //     border-radius: 10px;
    // }
    // // X-Large devices (large desktops, 1400px and up)
    // @media (min-width: 1400px) {
    //     width: 486px;
    //     height: 486px;
    //     border-radius: 10px;
    // }
  }
  .section-heading {
    font-weight: 800;
    color: #fff;
    font-size: 36px;
  }
  .watch-now {
    margin-top: 100px;
  }
}

.spinner-container {
  min-height: 100vh;
  width: 100%;
}

.max-width-wrapper {
  max-width: 1575px !important;
  padding: 70px 48px 330px 46px;
  @media (min-width: 1575px) {
    padding-left: 70px;
    padding-right: 70px;
  }
  @media (max-width: 1200px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 992px) {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 475px) {
    padding-left: 0;
    padding-right: 0;
  }
}
