<div class="my-shows">
  <div class="shows-title">My Shows</div>



  <div class="row align-items-center shows-row">
    <!-- *****************************************************  ***** -->
    <div class="col-12 d-flex justify-content-end">
        <div class="swiper-button-container d-flex align-items-center justify-content-center">
            <div class="swiper-button-prev1 swiper-button-left-wrapper">
                <button type="button" class="btn btn-left px-0">
                    <img src="../../images/icons/swiper-prev.svg" alt="previous" class="swiper-arrow-prev">
                </button>
            </div>
            <div class="swiper-button-next1 swiper-button-right-wrapper">
                <button type="button" class="btn btn-right px-0">
                    <img src="../../images/icons/swiper-next.svg" alt="next" class="swiper-arrow-next"
                        width="6px" height="9px">
                </button>
            </div>
        </div>
    </div>
    <!-- ************************* begin swiper container ***  ******* -->
    </div>




    <div class="swiper">
    <div class="swiper-container mx-0">
        <swiper [config]="config" class="h-100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hover-wrapper">
                        <div class="image-wrapper">
                            <img src="https://picsum.photos/225" alt="image" class="artist-img" routerLink="/">
                            <!-- <div class="btn-wrapper d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn slide-btn btn-sos-main">Get Tickets</button>
                            <button type="button" class="btn slide-btn btn-sos-secondary">Preview</button>
                        </div> -->
                        </div>
                        <div class="card-details">
                            <div class="event alt-color">{{ featuredEvent?.name }}</div>
                            <div class="artist">{{ featuredEvent?.performers[0]?.name }}</div>
                        </div>
                    </div>
                </div>
                <!-- **********spacer******* -->
                <div class="swiper-slide">
                    <div class="hover-wrapper">
                        <div class="image-wrapper">
                            <img src="https://picsum.photos/225" alt="image" class="artist-img" routerLink="/">
                            <!-- <div class="btn-wrapper d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn slide-btn btn-sos-main">Get Tickets</button>
                            <button type="button" class="btn slide-btn btn-sos-secondary">Preview</button>
                        </div> -->
                        </div>
                        <div class="card-details">
                            <div class="event alt-color">{{ featuredEvent?.name }}</div>
                            <div class="artist">{{ featuredEvent?.performers[0]?.name }}</div>
                        </div>
                    </div>
                </div>
                <!-- **********spacer******* -->
                <div class="swiper-slide">
                    <div class="hover-wrapper">
                        <div class="image-wrapper">
                            <img src="https://picsum.photos/225" alt="image" class="artist-img" routerLink="/">
                            <!-- <div class="btn-wrapper d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn slide-btn btn-sos-main">Get Tickets</button>
                            <button type="button" class="btn slide-btn btn-sos-secondary">Preview</button>
                        </div> -->
                        </div>
                        <div class="card-details">
                            <div class="event alt-color">{{ featuredEvent?.name }}</div>
                            <div class="artist">{{ featuredEvent?.performers[0]?.name }}</div>
                        </div>
                    </div>
                </div>
                <!-- **********spacer******* -->
                <div class="swiper-slide">
                    <div class="hover-wrapper">
                        <div class="image-wrapper">
                            <img src="https://picsum.photos/225" alt="image" class="artist-img" routerLink="/">
                            <!-- <div class="btn-wrapper d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn slide-btn btn-sos-main">Get Tickets</button>
                            <button type="button" class="btn slide-btn btn-sos-secondary">Preview</button>
                        </div> -->
                        </div>
                        <div class="card-details">
                            <div class="event alt-color">{{ featuredEvent?.name }}</div>
                            <div class="artist">{{ featuredEvent?.performers[0]?.name }}</div>
                        </div>
                    </div>
                </div>
                <!-- **********spacer******* -->
                <div class="swiper-slide">
                    <div class="hover-wrapper">
                        <div class="image-wrapper">
                            <img src="https://picsum.photos/225" alt="image" class="artist-img" routerLink="/">
                            <!-- <div class="btn-wrapper d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn slide-btn btn-sos-main">Get Tickets</button>
                            <button type="button" class="btn slide-btn btn-sos-secondary">Preview</button>
                        </div> -->
                        </div>
                        <div class="card-details">
                            <div class="event alt-color">{{ featuredEvent?.name }}</div>
                            <div class="artist">{{ featuredEvent?.performers[0]?.name }}</div>
                        </div>
                    </div>
                </div>
                <!-- **********spacer******* -->
                <div class="swiper-slide">
                    <div class="hover-wrapper">
                        <div class="image-wrapper">
                            <img src="https://picsum.photos/225" alt="image" class="artist-img" routerLink="/">
                            <!-- <div class="btn-wrapper d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn slide-btn btn-sos-main">Get Tickets</button>
                            <button type="button" class="btn slide-btn btn-sos-secondary">Preview</button>
                        </div> -->
                        </div>
                        <div class="card-details">
                            <div class="event alt-color">{{ featuredEvent?.name }}</div>
                            <div class="artist">{{ featuredEvent?.performers[0]?.name }}</div>
                        </div>
                    </div>
                </div>
                <!-- **********spacer******* -->
                <div class="swiper-slide">
                    <div class="hover-wrapper">
                        <div class="image-wrapper">
                            <img src="https://picsum.photos/225" alt="image" class="artist-img" routerLink="/">
                            <!-- <div class="btn-wrapper d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn slide-btn btn-sos-main">Get Tickets</button>
                            <button type="button" class="btn slide-btn btn-sos-secondary">Preview</button>
                        </div> -->
                        </div>
                        <div class="card-details">
                            <div class="event alt-color">{{ featuredEvent?.name }}</div>
                            <div class="artist">{{ featuredEvent?.performers[0]?.name }}</div>
                        </div>
                    </div>
                </div>
                <!-- **********spacer******* -->







            </div>
        </swiper>
    </div>
</div>



  
</div>




