<div class="row ticket" *ngFor="let ticket of ticketOptions">
    <div class="col-md-1 col-sm-1">
        <i class="far fa-circle fa-2x"></i>
    </div>
    <div class="col-md-8 col-sm-9">
        <p class="ticket-type mb-0">{{ ticketName(ticket.type) }}</p>
        <p class="ticket-description">{{ ticket?.description }}</p>
    </div>
    <div class="col-md-3 col-sm-2">
        <p class="float-end">{{ ticket?.price | currency }}</p>
    </div>
    <div class="col-12 p-0" *ngIf="ticket.type === 'vip'">
        <div class="row vip-row">
            <div class="card" *ngFor="let item of vipItems">
                <div class="row">
                    <img [src]="item?.image?.formats?.small.url" class="float-start image">
                    <span class="size-section">
                        <p class="float-start item-name">{{ item.name }}</p>
                        <p class="size">size</p>
                        <select class="form-select" aria-label="Default select example">
                            <option selected></option>
                            <option value="small">S</option>
                            <option value="medium">M</option>
                            <option value="large">L</option>
                            <option value="xlarge">XL</option>
                          </select>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

