.ticket {
  width: 100%;
  float: left;
  background-color: #2F3443;
  border-radius: 11px;
  padding: 30px 25px;
  margin-bottom: 35px;
  margin-left: 0;
  margin-right: 0;

  .fa-circle {
    color: #FFDC4E;
  }

  .form-select {
    color: #fff;
    background-color: #131519;
    border: 1px solid #788995;
    border-radius: 10px;
  }

  .ticket-description {
    color: #B0B9D3;
    font-size: 16px;
  }

  .ticket-type {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
  }

  .vip-text {
    color: #B0B9D3;
    font-size: 15px;
    font-weight: 600;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .vip-row {
    padding-left: 10%;
  }

  .card {
    max-width: 48%;
    height: 150px;
    background-color: #1C2233;
    border-radius: 10px;
    padding: 20px;
    border: none;
    margin-right: 10px;

    .item-name {
      width: 120px;
    }

    img {
      width: 109px;
      height: 109px;
      background-color: #fff;
      border-radius: 10px;
      margin-left: 10px;
    }

    .size-section {
      width: 32%;

      p {
        margin-bottom: 0;
      }

      .form-select {
        border: none;
        background-color: #393C4D;
      }

      .size {
        vertical-align: bottom;
      }
    }
  }
}

/*TICKET NEW*/
.ticket:nth-child(2) {
    border: 2px solid #FFDC4E;
}

.ticket .box {
    width: 100%;
    float: left;
    position: relative;
}

.ticket .infooo {
    position: absolute;
    top: 0;
    right: 0;
}

.ticket .checkk {
    width: calc(9% - 12px);
    float: left;
}

#yes {
    top: 1px;
    width: 18px;
    height: 18px;
    appearance:none;
    border-radius:50%;
    position: relative;
    border: 5px solid #2F3443;
    box-shadow: 0 0 0 3px #FFDC4E !important;
}

#yes:checked {
    background: #ffdc4e;
}

.ticket .ht {
    width: 91%;
    float: left;
}

.ticket .ht span {
    display: flex;
    flex-wrap: wrap;
    padding: 0 27px 0 0;
    justify-content: space-between;
}

.ticket .ht h4 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
}

.ticket .ht h5 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;
}

.ticket .ht p {
    margin: 15px 0 0;
    color: #B0B9D3;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}

.ticket .productt {
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 0;
}

.ticket .productt .box {
    width: 48.5%;
    float: left;
    background: #1C2233;
    border-radius: 10px;
    overflow: hidden;
    padding: 19.83px 20px;
}

.ticket .productt .img {
    width: 42%;
    float: left;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.ticket .productt .img img {
    width: 100%;
    float: left;
}

.ticket .productt .detaill {
    width: calc(57% - 20px);
    float: left;
    margin: 0 0 0 20px;
}

.ticket .productt  h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 0 10px;
}

.ticket .productt h6 {
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 5px;
}

.ticket .productt select {
    -webkit-appearance: none;
    background-color: #393C4D !important;
    border: none;
    padding: 7px 45px 7px 12px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    background-image: url("/images/icons/down.svg");
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 15px;
    outline: none;
    font-size: 16px;
    font-weight: 600;
}








/*RESPONSIVE*/
@media (min-width: 1440px) {
.ticket .productt {
    width: 100%;
}
}




@media (max-width: 1439px) {
.ticket .productt {
    width: 78%;
}

.ticket .productt .box {
    width: 100%;
    margin: 0 0 20px;
}

.ticket .productt .box:last-child {
    margin: 0;
}

.ticket .productt .img {
    width: 30%;
}
}




@media (max-width: 1199px) {
.ticket .productt {
    width: 100%;
}
}





@media (max-width: 991px) {}

@media (max-width: 767px) {
.ticket .productt {
    width: calc(100% + 10%);
    margin: 30px 0 0 -10%;
}

.ticket .productt .box {
    width: 100%;
    margin: 0 0 17px;
}

.ticket .productt .box:last-child {
    margin: 0;
}

.ticket .productt .img {
    width: 28%;
}

.ticket .productt .detaill {
    width: calc(55% - 20px);
}
}

@media (max-width: 575px) {
.ticket .ht span {
    padding: 0;
    flex-direction: column;
}

.ticket .ht h4 {
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 18px;
}

.ticket .ht p {
    margin: 18px 0 0;
}

.ticket .checkk {
    width: 17%;
}

.ticket .ht {
    width: 83%;
}

.ticket .productt {
    width: calc(100% + 23%);
    margin: 30px 0 0 -21%;
}

.ticket .productt .img {
    width: 42%;
}
.ticket .productt .detaill {
    width: calc(58% - 20px);
}
}

/*TICKET NEW*/